@import url("https://use.typekit.net/pls1fpn.css");
@import "tailwindcss";

:root {
  --background: rgb(246, 246, 246);
  --foreground: #fff;
  --color-white: #fff;
  --color-text: #333;
  --color-primary-500: #6002ee;
  --color-primary-400: #7e3ff2;
  --color-primary-300: #9965f4;
  --color-primary-200: #b794f6;
  --font-title: "contempora-script", sans-serif;
  --max-width: 600px;
  --min-width: 300px;
  --header-height: 62px;
  --nav-height: 78px;
  --layout-margin: 20px;
  --content-gap: 60px;
  --font-size-h2: 18px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-500: var(--color-primary-500);
  --color-primary-400: var(--color-primary-400);
  --color-primary-300: var(--color-primary-300);
  --color-primary-200: var(--color-primary-200);
  --font-title: var(--font-title);
  --container-width-max: var(--max-width);
  --container-width-min: var(--min-width);
  --spacing-nav-height: var(--nav-height);
  --spacing-layout: var(--layout-margin);
  --spacing-content-gap: var(--content-gap);
  --text-h2: var(--font-size-h2);
}

body {
  width: 100%;
  background: var(--background);
  color: var(--color-text);
  font-size: 16px;
}

#root {
  max-width: var(--max-width);
  min-width: var(--min-width);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  background-color: var(--foreground);
  box-shadow: rgba(000, 000, 000, 0.1) 0px 0px 25px 0px;
  display: flex;
}

#root > div {
  flex: 1 1 auto;
}

h1 {
  font-family: "contempora-script", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
  cursor: pointer;
}

header {
  width: 100%;
  max-width: var(--max-width);
  min-width: var(--min-width);
  padding: 20px;
  height: var(--header-height);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background-color: var(--color-white);
  border-bottom: 1px solid #999;
  display: flex;
  align-items: center;
}

main {
  width: 100%;
  align-self: flex-start;
  padding: var(--header-height) 0 var(--nav-height);
}

/* Date Picker Custom Style */
.date_picker {
  flex: 4 1 40px;
  input {
    width: 100%;
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .react-datepicker__input-container {
    display: flex;
    align-items: center;
    svg {
      padding: 0;
    }
  }
  .react-datepicker {
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .react-datepicker__navigation-icon::before,
  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__month-year-read-view--down-arrow {
    border-width: 2px 2px 0 0;
  }
  .react-datepicker__triangle {
    display: none;
  }
  .react-datepicker__header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  .react-datepicker__time-container {
    border-left: 1px solid #ccc;
  }
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected,
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    background-color: var(--color-primary-400);
  }
  .react-datepicker__day--selected:not([aria-disabled="true"]):hover,
  .react-datepicker__day--in-selecting-range:not([aria-disabled="true"]):hover,
  .react-datepicker__day--in-range:not([aria-disabled="true"]):hover,
  .react-datepicker__month-text--selected:not([aria-disabled="true"]):hover,
  .react-datepicker__month-text--in-selecting-range:not(
      [aria-disabled="true"]
    ):hover,
  .react-datepicker__month-text--in-range:not([aria-disabled="true"]):hover,
  .react-datepicker__quarter-text--selected:not([aria-disabled="true"]):hover,
  .react-datepicker__quarter-text--in-selecting-range:not(
      [aria-disabled="true"]
    ):hover,
  .react-datepicker__quarter-text--in-range:not([aria-disabled="true"]):hover,
  .react-datepicker__year-text--selected:not([aria-disabled="true"]):hover,
  .react-datepicker__year-text--in-selecting-range:not(
      [aria-disabled="true"]
    ):hover,
  .react-datepicker__year-text--in-range:not([aria-disabled="true"]):hover,
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected:hover {
    background-color: var(--color-primary-300);
  }
}
/* Date Picker Custom Style */

/* Swal2 Custom Style */
.swal-custom {
  .popup-custom {
    max-width: 400px;
  }
  .icon-custom {
    width: 2.4em;
    height: 2.4em;
    > div {
      font-size: calc(2.4em * 0.75);
    }
  }
  .title-custom {
    font-size: 20px;
    color: var(--color-text);
    padding-top: 0.4em;
  }
  .actions-custom > button {
    font-size: 16px;
    padding: 0.625em 2.6em;
    border-radius: 0.35em;
  }
}
/* Swal2 Custom Style */

@utility width-bounded {
  @apply w-full max-w-width-max min-w-width-min;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-fixed {
  @apply flex-[0_0_auto];
}

@utility home-section {
  @apply pt-layout pb-content-gap;
  .h2 {
    @apply px-layout mb-layout flex justify-between items-center [&_h2]:text-h2 [&_h2]:font-semibold;
  }
}

@utility show-list-poster {
  @apply relative flex-[0_0_auto] w-30 h-full aspect-3/4 rounded-[4px] shadow-[0px_2px_8px_0px_rgba(99,_99,_99,_0.2)] overflow-hidden;
  img {
    @apply w-full h-full object-cover;
  }
}

@utility show-list-info {
  @apply flex-auto ml-layout *:mt-[5px];
}

@utility show-list-info-title {
  @apply font-semibold mt-0;
}

@utility auth-layout {
  @apply max-w-[400px] w-full h-full p-layout mx-auto;
  .title {
    @apply mb-content-gap text-center;
    h1 {
      @apply text-[48px];
    }
  }
  h2 {
    @apply text-[32px] font-medium text-center mb-[40px];
  }
  form {
    @apply flex flex-col w-full;
    label {
      @apply block font-medium mb-[5px];
    }
    input {
      @apply p-[10px] w-full border border-zinc-400 rounded-[8px];
    }
    button {
      @apply text-white bg-primary-400 p-[14px] mt-[40px] rounded-[8px];
    }
  }
}

@utility ticket-form-layout {
  .row {
    @apply p-layout flex-start nth-[n+4]:border-t-1 nth-[n+4]:border-zinc-300;
  }
  label,
  .label {
    @apply flex-[1_1_40px];
  }

  input,
  .text {
    @apply flex-[4_1_40px] focus:outline-0;
  }
  .image {
    label {
      @apply flex-center flex-col;
    }
    input {
      @apply hidden;
    }
    .preview {
      @apply w-[48px] h-[48px];
      svg,
      img {
        @apply w-full h-auto;
      }
    }
  }
  .title,
  title input {
    @apply text-[18px] font-semibold;
  }
  .review {
    @apply flex flex-col items-start;
    .text,
    textarea {
      @apply w-full resize-none;
    }
  }
}

@utility tickets-calendar {
  .calendar-header {
    @apply p-layout flex-between text-center;
    .title {
      @apply flex items-center;
    }
    .button {
      @apply block p-[10px];
      img,
      svg {
        @apply w-auto h-[28px];
      }
    }
  }
  .calendar-body {
    @apply px-layout;
    .weekday-header {
      @apply flex-between text-center;
      > div {
        @apply flex-none basis-[calc(100%/7)] h-[60px] flex-center;
      }
    }
    .date-table {
      @apply flex-between flex-wrap text-center;
      .date-cell {
        @apply relative overflow-hidden aspect-square flex-none basis-[calc(100%/7)] flex flex-col justify-center;
        &.today {
          @apply border border-primary-400;
        }
        > div {
          @apply flex-1;
          img {
            @apply w-full h-full object-cover;
          }
        }
      }
    }
  }
}

@utility review-form-layout {
  .section {
    @apply mt-[60px];
    .notice {
      @apply font-bold mb-layout;
    }
  }
  .recommend {
    .icon {
      @apply flex-center flex-auto mb-[10px] py-[8px] px-[30px] rounded-[28px] border border-zinc-400 [&_svg]:w-[24px] [&.checked]:border-primary-400 [&.checked]:bg-primary-400;
    }
  }
}

@utility review-item-layout {
  @apply relative flex py-[40px] px-[25px] border-b border-zinc-300;
  .action-button {
    @apply absolute top-[10px] right-[10px];
  }
  .poster {
    @apply relative flex-fixed w-[24%] h-full aspect-3/4 shadow-[0px_2px_8px_0px_rgba(99,_99,_99,_0.2)];
    img {
      @apply w-full h-full object-cover rounded-[4px];
    }
    .icon {
      @apply absolute inset-0 -translate-x-[30%] -translate-y-[30%] w-8 h-8 rounded-[50%] flex-center [&_svg]:w-5 [&.like]:bg-[#61d800] [&.dislike]:bg-[#ff1744];
    }
  }
  .text {
    @apply ml-layout flex-auto;
    .title {
      @apply font-bold;
    }
    .review {
      @apply mt-[5px];
    }
    button {
      @apply mt-[10px] underline;
    }
  }
  .created_time {
    @apply absolute bottom-[10px] right-[20px] text-[14px] text-zinc-400;
  }
}
